@model IEnumerable<Competition_Tournament.Models.Team>

@{
    ViewData["Title"] = "View";
}

<h1 class="display-custom">Teams</h1>

<div class="container2">
    <p>
        <a class="create-custom" asp-action="Create">Create New</a>
    </p>

    <form class="margin-left" method="get">
        <label for="competitionId"><b>Competition:</b></label>
        <select id="competitionId" name="competitionId" onchange="this.form.submit()">
            <option value="">All</option>
            @foreach (var item in ViewBag.Competitions)
            {
                var selected = item.Value == ViewBag.SelectedCompetitionId?.ToString();
                <option value="@item.Value" selected="@selected">@item.Text</option>
            }
        </select>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Award Nr
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motto)
            </th>
            <th>
                Created On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-outline-primary" asp-controller="Players" asp-action="Index1" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>